.avatar {
  flex-shrink: 0;
  min-width: 5rem;
  min-height: 5rem;
  border-radius: 100%;
  background-color: var(--color-surface);
  object-fit: cover;
}

.avatar--placeholder {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text-muted);
  font-size: 2rem;
  font-weight: 500;
  text-transform: uppercase;
}
