@mixin card {
  width: 34rem;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: var(--shadow-card);
  border-radius: 1.2rem;
}

@mixin form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}
