.message-input {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.625rem;
  padding: 1rem;
  border-top: 0.0625rem solid var(--color-border);
}

.message-input__field {
  flex: 1 1 auto;
  min-width: 30rem;
}
