.input {
  display: flex;
  flex-direction: column;
}

.input__label {
  font-size: var(--font-size-m);
  color: var(--color-text-muted);
}

.input__field {
  border: none;
  border-bottom: 0.1rem solid var(--color-accent);
  outline: none;
  padding: 0.5rem;
  font-size: var(--font-size-m);
  color: var(--color-text);
  background: transparent;
}
